* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}   

@import "../style/layouts";
@import "../style/colors";

body {
    width: 100%;
    height: 100%;
    position: relative;
}

button {
    cursor: pointer;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}